.container {
  border: 2px solid black;
  /* padding: 8px; */
  height: 80vh;
  display: flex;
}

.square {
  height: 80px;
  width: 80px;
  color: white;
  padding: 8px;
  font-size: 24px;
}

.square:nth-child(1) {
  background: steelblue;
  flex: 1;
  align-self: flex-end;
  order: 1;
}

.square:nth-child(2) {
  background: orangered;
  /* padding: 16px; */
  flex: 1;
  align-self: flex-start;
  order: 3;
}

.square:nth-child(3) {
  background: teal;
  /* padding: 24px; */
  flex: 1;
  align-self: center;
}

.square:nth-child(4) {
  background: lightcoral;
  flex: 1;
}

.square:nth-child(5) {
  background: purple;
  flex: 1;
}

.square:nth-child(6) {
  background: slategray;
  flex: 1;
}
