body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    animation: topDown 3s;
}

p {
    animation: fadeIn 3s;
}

.square {
    width: 100px;
    height: 100px;
    background: purple;
    /* transition-property: background-color, transform;
    transition-duration: 1s;
    transition-delay: 2s;
    transition-timing-function: ease-in-out; */
    transition: background-color 1s 1s ease-in-out, transform 2s 1s ease-in-out;
}

.square:hover{
    background: teal;
    transform: scale(1.2);
    cursor: pointer;
}

img {
    width: 48px;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes topDown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        translate: 0;
    }
}